*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid rgb(197, 196, 196);
    cursor: pointer;
    margin: 1rem 0 2rem 0rem;

}
.nav ul{
    display: flex;
    list-style: none;
    margin: auto 25%;

}
.nav  ul   a{
    font-size: 20px;
    gap: 10px;
    color: black;
    text-decoration: none;
    padding: 10px;
    
}
.nav img{
margin-left: 15px;
}
.nav a:hover{
    color:  aqua;
    border-bottom: 1px solid blue;
}
/* header-nav */

/* hero-section*/
.hero-section-container{
    display: flex;
    position: relative;

}
.hero-section{
   padding: 20px;
   margin-left: 20px;
   background-color: rgb(225, 248, 248);
   border-radius: 20px 0 0 20px ;


}
.hero-section-left img{
    margin-right: 20px;
    border-radius: 0 20px 20px 0;
 
}
.hero-section-container + img{
    position: absolute;
    top: 20%;
    left: 40%;
}

.hero-section img{
    margin-top: 2rem;
}
.hero-section h1{
    font-size: 32px;
    width: 40%;
    font-weight: 50;
}

.hero-section p{
    font-size: 18px;
    color: rgb(104, 104, 104);
    margin: 2rem 0 0 ;
}

.hero-view img{
    margin-top: 6rem;
}
.btn{
    margin-left: 6rem;
}

.category{
    display: flex;
    margin: 17rem 3rem 0 4rem;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.categories h2{
   font-size: 38px; 
   color: black;
   font-weight: 40;
}
.boton button{
    border: none;
}
.boton button a{
    text-decoration: none;
    background-color: aquamarine;
    border-radius: 10%;
    padding: 14px;
}
.display{
    display: flex;
    margin:  4rem 0 0 0;
    align-content: center;
    justify-content: space-between;
}
/* category */
.simple{
    margin: 20rem 15rem  0  15rem;
}
.simple h3{
    text-align: center;
    font-size: 40px;
    font-weight: 30;
    color: black;
}
.simple p{
    text-align: center;
    font-size: 22px;
    color: rgb(63, 61, 61);
}
.tasty{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5rem 0 0 0 0;
}
/* simple-tasty */
.chef-kitcken{
    position: relative;
     width: 48vw;
    height: 100vh;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 20rem 0 0 2rem; */
}
 .chef-1{
    position: absolute;
    width: 50vw;
    height: 100vh;
    left: 95%;
} 

.chef-1 img{
     width: 48vw;    
    height: 100vh; 
} 
.chef h4{
    font-size: 45px;
    font-weight: 40;
    width: 55%;
    color: black;
    margin: 0 0 0 2rem;
}
.chef p{
    font-size: 18px;
    color: rgb(130, 129, 129);
    margin: 3rem 0 0 2rem;
}
.learn-more{
    margin: 15rem 0 0 2rem;
}
/* chef-kitchen */
.check-out{
    margin: 20rem  0 0 0;
    background-color: rgb(234, 248, 248);
}
.foodland img{
    margin: 2rem 0 0 12rem;
}
.foodland p{
    text-align: center;
    margin: 1rem  12rem 0 12rem;

}
.instagram{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 2rem;
}
.visit{
    margin: 2rem 0 0 30rem;
}
/* checkout */
.delicious{
    display: flex;
    margin:   20rem 0 0 0;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.try h6{
font-size: 40px;
font-weight: 40;
width: 60%;
margin-left: 2rem;
} 
.try p{
    left: 25rem;
    bottom: 2rem;
    position: absolute;
    margin: 0 15rem 0 15rem;
}
.all{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 4rem 0 0 2rem;
}
/* delicious */
.inbox-container{
    display: flex;
    position: relative;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 90vw;
    height: 80vh;
    background-color: rgb(193, 244, 227);
    border-radius: 6%;
    margin: 20rem 0 0 4rem;
}
.inbox h6{
    position: absolute;
    bottom: 80%;
    left: 30%;
    font-size: 40px;
    font-weight: 40;
}
.inbox p{
    position: absolute;
    bottom: 70%;
    left: 20%;
    text-align: center;
    margin: 0 5rem 0 8rem;
}
.plate{ 
    position: absolute;
    left: 71%;
    top: 49%;
}

.subscribe{
    position: absolute;
    top: 70%;
}
.salad{
position: absolute;
right: 69%;
top: 20%;
}
/* inbox-container */
.footer{
width: 5px;
margin: 10rem 0 0 4rem;
}
/*  */
.footer-nav ul{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    list-style: none;
    padding: 12px;
    gap: 10px;
}
.footer-nav ul a{
    text-decoration: none;
    font-size: 22px;
}
.footer-nav  a{
    margin-left: 19%;
    padding: 7px;
    gap: 15px;
}
.lorem{
    margin-right: 17%;
}
.gram{
    margin-right: 16%;
}
/*  */
.sub-footer{
    display: flex;
    margin: 4rem 0 0 0;
}
.socials{
    margin-left: 30%;
}
.vera{
    margin-left: 40%;
}
.socials img{
    margin-left: 10px;
}
.uche{
    color: red;
}